<h1> {{ title }}</h1>
<div>
  Enter username:<p><input type="text" [(ngModel)]="userName"> enter user name:{{ userName }} </p>
  Enter Email:<p><input type="text" [(ngModel)]="userEmail">enter user Email:{{ userEmail }} </p>
  Enter Age:<p><input type="text" [(ngModel)]="userAge"> enter user Age:{{ userAge }} </p>
  Enter userCompany:<p><input type="text" [(ngModel)]="userCompany">enter user Company:{{ userCompany }} </p>
  <button (click)="onsave()">save</button>

  <div>
<p>{{ data }}</p>

  </div>
</div>
<div>
  <p>enter user name:{{ userName }} </p>
  <p>enter user Email:{{ userEmail }}</p>
  <p>enter user Age:{{ userAge }}</p>
  <p>enter user Company:{{ userCompany }}</p>
</div>